<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TerminalConsoleApplication.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TerminalConsoleApplication.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <runtime>
    <NetFx40_LegacySecurityPolicy enabled="true"/>
  </runtime>
  <userSettings>
    <TerminalConsoleApplication.My.MySettings>
      <setting name="CashDrawer" serializeAs="String">
        <value>CashDrawer</value>
      </setting>
      <setting name="LineDisplay" serializeAs="String">
        <value>LineDisplay</value>
      </setting>
      <setting name="BarcodeScanner" serializeAs="String">
        <value />
      </setting>
      <setting name="Msr" serializeAs="String">
        <value />
      </setting>
      <setting name="PosKeyboard" serializeAs="String">
        <value />
      </setting>
      <setting name="Keylock" serializeAs="String">
        <value />
      </setting>
      <setting name="ReceiptPrinter" serializeAs="String">
        <value>PosPrinter</value>
      </setting>
      <setting name="Micr" serializeAs="String">
        <value />
      </setting>
      <setting name="ToneIndicator" serializeAs="String">
        <value />
      </setting>
      <setting name="ControllerIP" serializeAs="String">
        <value />
      </setting>
      <setting name="ControllerPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CommUser" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="CommPassword" serializeAs="String">
        <value>pass</value>
      </setting>
      <setting name="TerminalID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DataSessionNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="LoginAttempts" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="HardTotals" serializeAs="String">
        <value />
      </setting>
      <setting name="Version" serializeAs="String">
        <value>v1.5b</value>
      </setting>
    </TerminalConsoleApplication.My.MySettings>
  </userSettings>
  <applicationSettings>
    <TerminalConsoleApplication.My.MySettings>
      <setting name="Accountability" serializeAs="String">
        <value>1</value>
      </setting>
    </TerminalConsoleApplication.My.MySettings>
  </applicationSettings>
</configuration>
